<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Certificate classification</h3>
</div>
<div class="modal-body">
  <div ng-controller="CertificateInfoController">
  
    <form name="uploadForm" class="form-horizontal" role="form" novalidate>
      <div class="form-group">
        <div class="col-sm-10">
          <div class="mod"></div>
        <!--- <md-radio-group></md-radio-group> --->
        <input type="radio" ng-model="CertificateClassification" name="CertificateClassification" value="Xperi Owned">  Xperi Owned <br />
        <input type="radio" ng-model="CertificateClassification" name="CertificateClassification" value="MSO">  MSO <br />
        <input type="radio" ng-model="CertificateClassification" name="CertificateClassification" value="Third Party">  Third Party <br />
        <input type="radio" ng-model="CertificateClassification" name="CertificateClassification" value="Other">  Other <br />
        <br />
        <p> Your selection is: {{ CertificateClassification }} </p>
        </div>
      </div>
  </div>
</div>
<div class="modal-footer">
  <!--- set the value of the button to the value of the radio button above-->
  <button type="button" ng-click="getCertificateClassification(CertificateClassification)" class="btn btn-primary pull-right">Submit</button> <!-- change the ng-click action to open the correct import page for Xperi owned, MSO , third party or other import modal box-->
  <button type="button" ng-click="cancel()" class="btn btn-danger pull-right">Cancel</button> 
  <!--- getCertificateClassification() needs to be written to check what radio button selection is made 
  to navigate the user to the right page after this one-->
</div>
